<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <meta name="author" content="Sebastian Senf (me@akrasia.me)">
    <meta name="description" content="<%- description %>">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/assets/images/favicon.png">

    <link rel="stylesheet" href="/assets/css/tomorrow-night.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/assets/css/main.css" media="screen" charset="utf-8">

    <% if(current.path[0] === 'pictures') { %>
      <link rel="stylesheet" href="/assets/js/fancybox/jquery.fancybox.css" media="screen" charset="utf-8">
    <% } %>
  </head>
  <body>
    <div id="that-one-thing">
      <%- partial('./_partials/_header') %>

      <section class="section">
        <div class="container">
          <%- yield %>
        </div>
      </section>

      <%- partial('./_partials/_footer') %>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.smoothState.min.js"></script>
    <script type="text/javascript" src="/assets/js/highlight.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>

    <% if(current.path[0] === 'pictures') { %>
      <script type="text/javascript" src="/assets/js/fancybox/jquery.fancybox.pack.js"></script>
      <script type="text/javascript" src="/assets/js/pictures.js"></script>
    <% } %>
  </body>
</html>
